.TaskChartTab {
  display: flex;
  flex-direction: column;
}

.SelectName {
  margin: 0.5rem 0rem 0.5rem 0rem;
  font-size: large;
  font-weight: bold;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
