.HeaderScenario {
    grid-area: header;
    height: 50px;
    display: flex;
    padding-left: 16px;
    align-items: center;
    border-bottom: 3px solid #e0e0e0;
    font-size: 21px;
    font-weight: bold;
  }